<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/highlight.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('tg-nav').onclick = function(){
                document.getElementById('tg-nav-icon').classList.toggle('bi-toggle-off');
                document.getElementById('tg-nav-icon').classList.toggle('bi-toggle-on');
            }
        });
    </script>

  </head>
  <body>
   <!--{% include header.html %} -->
    {% include topnav.html %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 collapse show" id="tg-sb-sidebar">
          {% include sidebar.html %}
        </div>
        <div class="col-md-9 content" id="tg-sb-content">
          {{content}}
        </div>
      </div>
    </div>
    
  </body>
</html>
