<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/radon-provenance" class="button fork"><strong>View On GitHub</strong></a>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul>
           <li class="tag-h1">Overview</li>
           <li class="tag-h2"><a href='/'>Presentation</a></li>
           <li class="tag-h2"><a href='/architecture'>Architecture</a></li>
        </ul>
      
        <ul>
           <li class="tag-h1">Getting Started</li>
           <li class="tag-h2"><a href='/download'>Download</a></li>           
           <li class="tag-h2"><a href='/install'>Install</a></li>
           <li class="tag-h2"><a href='/running'>Running</a></li>
        </ul>
        <ul> 
           <li class="tag-h1">System Overview</li>
           <li class="tag-h2"><a href='/components/radon_lib'>Radon Library</a></li>
           <li class="tag-h2"><a href='/components/radon_web'>Radon Web</a></li>
           <li class="tag-h2"><a href='/components/radon_cli'>Radon CLI</a></li>
           <li class="tag-h2"><a href='/components/radon_listener'>Radon Listener</a></li>
           <li class="tag-h2"><a href='/components/radon_search'>Radon Search</a></li>
         </ul>
        <ul> 
           <li class="tag-h1">Usage</li>
           <li class="tag-h2"><a href='/usage/admin_cli'>Admin CLI</a></li>
           <li class="tag-h2"><a href='/usage/admin_rest'>Admin REST API</a></li>
           <li class="tag-h2"><a href='/usage/cdmi_rest'>CDMI REST API</a></li>
           <!-- <li class="tag-h2"><a href='/usage/search'>Search</a></li> -->
           <!-- <li class="tag-h2"><a href='/usage/listener'>Listener</a></li> -->
           <li class="tag-h2"><a href='/usage/radon_cli'>Radon CLI</a></li>

        </ul>


      </nav>

      <section>
        {{ content }}
      </section>

    </div>
  </body>
</html>
